# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
myvenv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# OS-specific files
.DS_Store
Thumbs.db

# Editor / IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local configuration and secret files
.env
*.ini
*.cfg

# PostgreSQL related files (credentials and local data)
*.pgpass
postgres_data/

*.dbc
